name: Update uv.lock (main branch)

on:
  workflow_dispatch:
  

permissions:
  contents: write

jobs:
  check-lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: 1. checkout repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.SHOBHITAGG_PAT }}
          ref: ${{ github.head_ref || github.ref_name }}        

      - name: 2. Install uv
        uses: astral-sh/setup-uv@v6

      - name: 3. Check lock file
        run: |
          if ! uv lock --check; then
            uv lock
          fi
      
      - name: 4. Commit and push changes
        # Ref: https://github.com/marketplace/actions/git-auto-commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "CI: Update uv.lock"
          file_pattern: "uv.lock"
          branch: ${{ github.head_ref || github.ref_name }}      
